@import "src/variables";

.card-container {
  display: block;
  max-width: 400px;
  min-height: 400px;
  margin: 1rem;

  background: $alternate-color;
  border-radius: 14px;
  box-shadow: 0 4px 4px $secondary-color;
}

img {
  width: 300px;
  height: 400px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.container {
  font-size: 16px;
  font-weight: normal;
  margin: .5rem;

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .sub-title {
    display: block;
    font-size: 12px;
    font-weight: 500;
  }

  .types {
    display: block;
    margin-top: 1rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;

  button {
    background: $primary-color-light;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
  }
}
