@import "src/variables";

::ng-deep .mat-dialog-container {
  background-color: $primary-color-light;
}

.title {
  color: $primary-color;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.content {
  margin-bottom: 1rem;
  font-size: 16px;
  color: $alternate-color;
  font-weight: 400;

  b {
    color: $primary-color;
    font-weight: 500;
  }
}

.footer {
  display: flex;
  justify-content: center;

  button {
    background: $primary-color;
    color: $alternate-color;
    border: solid 1px $secondary-color;
    border-radius: 4px;
    box-shadow: 0 0 0;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

    &:focus {
      border: solid 1px $secondary-color;
      box-shadow: 0 0 0;
      outline: 0;
    }
  }
}
