<h1 mat-dialog-title class="title">{{ attack?.name }}</h1>

<div mat-dialog-content class="content">
  <div>
    <span> <b>Custo de "mana" :</b> {{ attack?.convertedEnergyCost ? attack?.convertedEnergyCost : 'sem custo' }}</span>
  </div>
  <div>
    <span> <b>Dano :</b> {{ attack?.damage ? attack?.damage : 'sem dano' }}</span>
  </div>
  <div>
    <span> <b>Descrição :</b> {{ attack?.text ? attack?.text : 'sem descrição' }}</span>
  </div>
</div>

<div mat-dialog-actions class="footer">
  <button (click)="dialogRef.close()">Fechar</button>
</div>
