@import "src/variables";

.filter {
  padding: 1rem;

  .label-input {
    margin: 0 0 5px 5px;
    color: $neutral-color;
    font-size: 16px;
  }

  input {
    padding: 5px;
    background: none;
    color: $alternate-color;
    font-size: 16px;
    border: none;
    border-bottom: solid 1px $neutral-color;

    &:focus {
      box-shadow: 0 0 0 0;
      border: none;
      outline: 0;
      border-bottom: solid 1px $neutral-color;

    }
  }

  .button-search {
    padding-top: 17px;
    color: $alternate-color;
  }
}

.spinner {
  height: 100%;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $primary-color-light;
}
